<div class="modal-header">
  <h4 class="modal-title">
    <span class="mr-1 fa fa-edit"></span>Select Tags to Apply</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross Click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row mb-2">
      <div class="col"><strong class="mr-3">New Tag:</strong> <input type="text" [(ngModel)]="newTag" placeholder="Enter New Tag Name"></div>
    </div>
    <div class="row mb-2">
        <label *ngFor="let tag of tags" class="checkbox-inline">
          <input class="ml-2" type="checkbox" name="{{tag.tagName}}" [checked]="tagFlags[tag.tagName]" (change)="updateTagFromUI($event.target.checked, tag.tagName)" /> {{tag.tagName}}
        </label>
      </div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" (click)="handleSubmit()" class="btn btn-primary">Apply</button>
  <button type="button" (click)="activeModal.dismiss('Cancel')" class="btn btn-secondary">Cancel</button>
</div>
