<div *ngIf="busy" class="container m-3">
  {{busyMessage}}<br>
  <img src="assets/ajax-loader.gif" />
</div>
<div *ngIf="!busy && filteredImageDataArray && filteredImageDataArray.length > 0" class="container">
  <div class="btn-toolbar mb-3" role="toolbar" aria-label="Navigational controls">
    <div class="btn-group mr-3" role="group" aria-label="Historical Back">
        <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
    </div>
  </div>
  <div class="row" >
    <!-- Using this library: https://github.com/jesusbotella/ngx-lazy-load-images -->
    <div lazy-load-images *ngFor="let img of filteredImageDataArray" class="col-4 card">
      <img class="img-fluid" [attr.data-src]="'file:///' + img.fullPath">
      <div class="card-body">
        <p class="card-text">{{img.fullPath}}</p>
        <div class="btn-group mr-3" role="group" aria-label="Primary Navigation">
          <button type="button" class="btn btn-danger m-1" (click)="delete(img)"><i class="fa fa-trash"></i></button>
          <button type="button" class="btn btn-primary m-1" (click)="copyImageToClipboard(img.fullPath)"><i class="fa fa-clipboard"></i></button>
          <button type="button" class="btn btn-success m-1" (click)="openImageInApp(img.fullPath)"><i class="fa fa-folder-open-o"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>