<div *ngIf="busy" class="container m-3">
  {{busyMessage}}<br>
  <img src="assets/ajax-loader.gif" />
</div>
<div *ngIf="!busy && filteredImageDataArray && filteredImageDataArray.length > 0" class="container">
  <div class="btn-toolbar mb-3" role="toolbar" aria-label="Navigational controls">
    <div class="btn-group mr-3" role="group" aria-label="Primary Navigation">
      <button type="button" class="btn btn-danger m-1" (click)="prev()"><i class="fa fa-arrow-circle-left"></i> Prev</button>
      <button type="button" class="btn btn-success m-1" (click)="doRandom()"><i class="fa fa-random"></i> Random</button>
      <button type="button" class="btn btn-danger m-1" (click)="next()"><i class="fa fa-arrow-circle-right"></i> Next</button>
      <button type="button" class="btn btn-info m-1" (click)="gridView()"><i class="fa fa-th"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img style="max-width: 100%; min-height: 600px; max-height: 600px;" src="file:///{{currentMetaData.fullPath}}">
    </div>
  </div>
  <div class="row">
    <div class="col">
      (index={{(currentIndex + 1)}} of {{filteredImageDataArray.length}}) File Path: {{currentMetaData.fullPath}}
    </div>
  </div>
  <div class="row" [hidden]="!currentMetaData.exifData || !currentMetaData.exifData?.exif || !currentMetaData.exifData?.exif?.DateTimeOriginal || currentMetaData.exifData?.exif?.DateTimeOriginal.trim() === ''">
    <div class="col">
      <strong>Date Taken:</strong> {{currentMetaData.exifData?.exif?.DateTimeOriginal}}
    </div>
  </div>
  <div class="row">
    <label *ngFor="let tag of tags" class="checkbox-inline">
      <input class="ml-2" type="checkbox" name="{{tag.tagName}}" (change)="selectTagForFilter($event.target.checked, tag.tagName)" [checked]="filterImageFlags[tag.tagName]" /> {{tag.tagName}}
    </label>
  </div>
</div>
