<div *ngIf="busy" class="container m-3">
  {{busyMessage}}<br>
  <img src="assets/ajax-loader.gif" />
</div>
<div *ngIf="!busy && filesFound && filesFound.length > 0" class="container">
    <div class="row mb-3">
      <div class="col">
        <button class="btn btn-primary" (click)="prev()">Prev</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="back()">Back</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="doRandom()">Random</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="next()">Next</button>
      </div>
    </div>
    <div class="row">
    <div class="col">
      <img style="max-width: 100%; min-height: 600px; max-height: 600px;" src="file:///{{filesFound[currentIndex]}}">
    </div>
  </div>
  <div class="row">
    <div class="col">
      (index={{(currentIndex + 1)}}) File Path: {{filesFound[currentIndex]}}
    </div>
  </div>
  <div class="row scrollableDiv">
    <ol class="m-3">
        <li *ngFor="let file of filesFound; let idx = index">
          <a id="{{idx}}" class="link" (click)="currentIndex = idx">{{file}}</a>
        </li>
    </ol>
  </div>
</div>
<router-outlet></router-outlet>
